.App {
    text-align: center;
    margin: 20px auto;
}
.btn {
    padding: 15px;
    background: darkorange;
    border-radius: 5px;
    margin: 10px;
}
.btn:hover {
    background: orange;
}
.number{
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 15px;
    border: 2px solid darkorange;
    border-radius: 50%;
    margin: 10px 5px 10px 0px;
    box-shadow: 0px 3px 5px 0px rgba(255, 215, 0, 0.75);
}